<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<ul class="nav nav-pills nav-fill">
    <li class="nav-item"><a class="nav-link" th:href="@{/manageAccount}">Panel Użytkownika</a></li>
    <li class="nav-item"><a class="nav-link" th:href="@{/deviceList}">Lista Urządzeń</a></li>
    <li class="nav-item"><a class="nav-link" th:href="@{/rentalList}">Wypożyczenia</a></li>
    <li class="nav-item"><a class="nav-link active" th:href="@{/addDevice}">Dodanie/Modyfikacja Urządzenia</a></li>
</ul>
<div class="container text-center">
    <div>
        <h1>Edycja danych użytkownika</h1>
    </div>
    <form th:action="@{/addDevice}" method="post" th:object="${device}" style="max-width: 600px; margin: 0 auto">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-form-label col-4">Nazwa:</label>
                <div class="col-8">
                    <input type="text" placeholder="Nazwa" th:field="*{name}" th:value="${device.name}"
                           minlength="2" maxlength="20" required
                           class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Opis:</label>
                <div class="col-8">
                    <textarea class="form-control" placeholder="Opis" th:field="*{description}" th:value="${device.description}" required minlength="1"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Ilość:</label>
                <div class="col-8">
                    <input type="number" placeholder="Ilość" th:field="*{amount}" th:value="${device.amount}"
                           min="0"
                           required class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-4">Sklep:</label>
                <div class="col-8">
                    <select th:field="*{store}" class="custom-select">
                        <option th:each="storee: ${stores}" th:value="${storee.id}" th:text="${storee.name}"></option>
                    </select>
                </div>
            </div>
            <button th:if="${device.name == null}" type="submit" th:name="deviceId" th:value="0" class="btn btn-primary">Dodaj</button>
            <button th:unless="${device.name == null}" type="submit" th:name="deviceId" th:value="${device.id}" class="btn btn-primary">Zmień</button>
        </div>
    </form>
</div>
</body>
</html>