<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Urządzenia</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body>
<ul class="nav nav-pills nav-fill">
    <li th:if="${role == 'Gosc'}" class="nav-item"><a class="nav-link" th:href="@{/register}">Rejestracja</a></li>
    <li th:unless="${role == 'Gosc'}" class="nav-item"><a class="nav-link" th:href="@{/manageAccount}">Panel Użytkownika</a></li>
    <li class="nav-item"><a class="nav-link active" th:href="@{/deviceList}">Lista Urządzeń</a></li>
    <li th:if="${role == 'Gosc'}" class="nav-item"><a class="nav-link" th:href="@{/login}">Logowanie</a></li>
    <li th:unless="${role == 'Gosc'}" class="nav-item"><a class="nav-link" th:href="@{/rentalList}">Wypożyczenia</a></li>
</ul>
<div class="container text-center">
    <div>
        <h1>Wyszukiwarka</h1>
    </div>
    <form th:action="@{/deviceSearch}" method="post" style="max-width: 600px; margin: 0 auto">
        <div class="form-row">
            <div class="col-7">
                <input th:type="text" th:name="keyWord" class="form-control" placeholder="Wprowadź słowo klucz">
            </div>
            <div class="col">
                <select th:name="store" class="custom-select">
                    <option th:each="store: ${stores}" th:value="${store.id}" th:text="${store.name}"></option>
                </select>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Szukaj</button>
            </div>
        </div>
    </form>
</div>
<br/><br/>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Numer</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Dostępność</th>
            <th scope="col">Opis</th>
            <th scope="col">Ocena</th>
            <th scope="col">Ilość</th>
            <th scope="col">Akcja</th>
        </tr>
        </thead>
        <tbody>

            <tr th:each="device, state: ${devices}">
                <form th:action="@{/deviceAction}" method="post">
                <th style="vertical-align: middle" th:text="${state.count}" scope="row">Numer</th>
                <td style="vertical-align: middle" th:text="${device.name}">Nazwa</td>
                <td style="vertical-align: middle" th:text="${device.status}">Dostępność</td>
                <td style="vertical-align: middle" th:text="${device.description}">Opis</td>
                <td style="vertical-align: middle" th:text="${device.rate}">Ocena</td>
                <td>
                    <select th:name="amount" class="custom-select">
                        <option th:each="i: ${#numbers.sequence(0, device.amount)}" th:value="${i}" th:text="${i}"></option>
                    </select>
                </td>
                <td>
                    <button th:unless="${role == 'Gosc'}" type="submit" th:value="'rent:' + ${device.id}" th:name="deviceId" class="btn btn-primary">Wypożycz</button>
                    <button th:if="${role == 'Pracownik'}" type="submit" th:value="'edit:' + ${device.id}" th:name="deviceId" class="btn btn-primary">Edytuj</button>
                </td>
        </form>
            </tr>
        </tbody>
    </table>
</body>
</html>